header {
  width: 100%;
  /* height: 10vh; */
  background-color: #000000;
  /* background-color: red; */
  color: #ffff;
  z-index: 1;
}
.header-content {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid yellow; */
}
.header-nav-links ul {
  display: flex;
  align-items: center;
  /* margin-top: 3rem; */
  gap: 3rem;
  font-size: 14px;
}
.header-nav-links li a {
  color: #ffffff;
}
.menu-bar{
   display: none;
}
.close {
  font-size: 35px;
  cursor: pointer;
}
.bars {
  font-size: 35px;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: #ffff;
  font-family: "Inknut Antiqua";
  font-size: 30px;
  font-weight: 600;
  line-height: 92.84px;
}
.login-register {
  border: none;
  border: 1px solid #FFFFFF80;
  border-radius: 48px;
  padding: 7px 20px;
  background-color: #0f0f0f;
  color: #ffffff;
  cursor: pointer;
}
.login-register p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
@media screen and (max-width: 765px) {
  .title span {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .login-register p {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
  }
}
