*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}body {
  font-family: "Inter Tight", sans-serif;
  overflow-x: hidden;
  max-width: 1600px;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
ul li{
  list-style: none;
}